<div class="box-body">
    {% if category %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Sub Category</th>
                <th>Parent Category</th>
                <th>Is Active</th>
                <th>Created At</th>
                <th>Image</th>
                <th class="text-center">Action</th>
            </tr>
            {% for cat in category %}
                <tr>
                    <td>{{ cat.name }}</td>
                    <td>{% if not cat.parent %} <-> {% else %} {{ cat.parent }} {% endif %}</td>
                    <td>{% if cat.is_active == 1 %}
                        <span class="badge bg-green">Active</span> {% else %}
                        <span class="badge bg-red">Deactivated</span> {% endif %}</td>
                    <td>{{ cat.created_at }}</td>
                    <td>
                        {% if not cat.category_image %}
                            <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                        {% else %}
                            <img width="40px" height="15" src="/media/{{ cat.category_image }}"
                                 alt="category image">
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-info btn-sm" href="{% url 'category_update' cat.id %}"><i
                                class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-sm" href="{% url 'category_delete' cat.id %}"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Category not added yet</h2>
    {% endif %}
</div>
